In [256]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [257]:
fifa_train=pd.read_csv('FIFA_train.csv')
fifa_test=pd.read_csv('FIFA_test.csv')

In [258]:
fifa_train.head()

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value
0,0,L. Messi,31,south america,2021,ST,left,5.0,94,94,4.0,110500000.0
1,3,De Gea,27,europe,2020,GK,right,4.0,91,93,1.0,72000000.0
2,7,L. Su치rez,31,south america,2021,ST,right,5.0,91,91,3.0,80000000.0
3,8,Sergio Ramos,32,europe,2020,DF,right,4.0,91,91,3.0,51000000.0
4,9,J. Oblak,25,europe,2021,GK,right,3.0,90,93,1.0,68000000.0

In [259]:
fifa_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8932 entries, 0 to 8931
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8932 non-null   int64
 1   name              8932 non-null   object
 2   age               8932 non-null   int64
 3   continent         8932 non-null   object
 4   contract_until    8932 non-null   object
 5   position          8932 non-null   object
 6   prefer_foot       8932 non-null   object
 7   reputation        8932 non-null   float64
 8   stat_overall      8932 non-null   int64
 9   stat_potential    8932 non-null   int64
 10  stat_skill_moves  8932 non-null   float64
 11  value             8932 non-null   float64
dtypes: float64(3), int64(4), object(5)
memory usage: 837.5+ KB

In [260]:
fifa_train['contract_until'].value_counts()

2019            2366
2021            2308
2020            2041
2022             761
2023             506
Jun 30, 2019     501
2018             327
Dec 31, 2018      64
May 31, 2019      19
2024              12
Jan 31, 2019      10
Jun 30, 2020       9
2025               3
Jan 1, 2019        2
2026               1
May 31, 2020       1
Jan 12, 2019       1
Name: contract_until, dtype: int64

In [264]:
fifa_train['contract_until']=fifa_train['contract_until'].apply(lambda x:(int(x[-4:])-2018 )) 
fifa_test['contract_until']=fifa_test['contract_until'].apply(lambda x: (int(x[-4:])-2018 ))
fifa_train['contract_until'].value_counts()

1    2899
3    2308
2    2051
4     761
5     506
0     391
6      12
7       3
8       1
Name: contract_until, dtype: int64

In [265]:
fifa_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8932 entries, 0 to 8931
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8932 non-null   int64
 1   name              8932 non-null   object
 2   age               8932 non-null   int64
 3   continent         8932 non-null   object
 4   contract_until    8932 non-null   int64
 5   position          8932 non-null   object
 6   prefer_foot       8932 non-null   object
 7   reputation        8932 non-null   float64
 8   stat_overall      8932 non-null   int64
 9   stat_potential    8932 non-null   int64
 10  stat_skill_moves  8932 non-null   float64
 11  value             8932 non-null   float64
dtypes: float64(3), int64(5), object(4)
memory usage: 837.5+ KB

In [266]:
fifa_train['prefer_foot'].value_counts()

right    6837
left     2095
Name: prefer_foot, dtype: int64

In [267]:
fifa_train['prefer_foot']=fifa_train['prefer_foot'].apply(lambda x: 1 if x=='right' else 0)
fifa_test['prefer_foot']=fifa_test['prefer_foot'].apply(lambda x: 1 if x=='right' else 0)

In [268]:
fifa_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8932 entries, 0 to 8931
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8932 non-null   int64
 1   name              8932 non-null   object
 2   age               8932 non-null   int64
 3   continent         8932 non-null   object
 4   contract_until    8932 non-null   int64
 5   position          8932 non-null   object
 6   prefer_foot       8932 non-null   int64
 7   reputation        8932 non-null   float64
 8   stat_overall      8932 non-null   int64
 9   stat_potential    8932 non-null   int64
 10  stat_skill_moves  8932 non-null   float64
 11  value             8932 non-null   float64
dtypes: float64(3), int64(6), object(3)
memory usage: 837.5+ KB

In [269]:
fifa_train['position'].value_counts()

MF    3428
DF    2791
ST    1705
GK    1008
Name: position, dtype: int64

In [270]:
fifa_train=pd.get_dummies(fifa_train,columns=['continent','position'])
fifa_test=pd.get_dummies(fifa_test,columns=['continent','position'])

In [271]:
fifa_train_position_conti.head()

,id,name,age,contract_until,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value,continent_africa,continent_asia,continent_europe,continent_oceania,continent_south america,position_DF,position_GK,position_MF,position_ST
0,0,L. Messi,31,2021,0,5.0,94,94,4.0,110500000.0,0,0,0,0,1,0,0,0,1
1,3,De Gea,27,2020,1,4.0,91,93,1.0,72000000.0,0,0,1,0,0,0,1,0,0
2,7,L. Su치rez,31,2021,1,5.0,91,91,3.0,80000000.0,0,0,0,0,1,0,0,0,1
3,8,Sergio Ramos,32,2020,1,4.0,91,91,3.0,51000000.0,0,0,1,0,0,1,0,0,0
4,9,J. Oblak,25,2021,1,3.0,90,93,1.0,68000000.0,0,0,1,0,0,0,1,0,0

In [272]:
X_train=fifa_train.drop(['id','name','value'],axis=1)
y_train=np.log1p(fifa_train['value'])

X_test=fifa_test.drop(['id','name'],axis=1)

In [273]:
X_train.head()

,age,contract_until,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,continent_africa,continent_asia,continent_europe,continent_oceania,continent_south america,position_DF,position_GK,position_MF,position_ST
0,31,3,0,5.0,94,94,4.0,0,0,0,0,1,0,0,0,1
1,27,2,1,4.0,91,93,1.0,0,0,1,0,0,0,1,0,0
2,31,3,1,5.0,91,91,3.0,0,0,0,0,1,0,0,0,1
3,32,2,1,4.0,91,91,3.0,0,0,1,0,0,1,0,0,0
4,25,3,1,3.0,90,93,1.0,0,0,1,0,0,0,1,0,0

In [274]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8932 entries, 0 to 8931
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      8932 non-null   int64
 1   contract_until           8932 non-null   int64
 2   prefer_foot              8932 non-null   int64
 3   reputation               8932 non-null   float64
 4   stat_overall             8932 non-null   int64
 5   stat_potential           8932 non-null   int64
 6   stat_skill_moves         8932 non-null   float64
 7   continent_africa         8932 non-null   uint8
 8   continent_asia           8932 non-null   uint8
 9   continent_europe         8932 non-null   uint8
 10  continent_oceania        8932 non-null   uint8
 11  continent_south america  8932 non-null   uint8
 12  position_DF              8932 non-null   uint8
 13  position_GK              8932 non-null   uint8
 14  position_MF              8932 non-null   uint8
 15  position_ST              8932 non-null   uint8
dtypes: float64(2), int64(5), uint8(9)
memory usage: 567.1 KB

In [275]:
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV

In [276]:
params={
    'n_estimators':[100,200,300],'max_depth':[8,10,12,14,16],'min_samples_leaf':[3,4,6,8,12,18],
    'min_samples_split':[4,6,8,16,20,24]
}

In [277]:
gbm_reg=GradientBoostingRegressor()

In [278]:
params={'max_depth':[4,6,8],'n_estimators':[100,200],'learning_rate':[0.05,0.1]}
grid_cv=GridSearchCV(gbm_reg,param_grid=params,scoring = 'neg_mean_squared_error',cv=3,verbose=1)

In [279]:
X_train.shape,y_train.shape

((8932, 16), (8932,))

In [280]:
grid_cv.fit(X_train,y_train)

Fitting 3 folds for each of 12 candidates, totalling 36 fits

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(),
             param_grid={'learning_rate': [0.05, 0.1], 'max_depth': [4, 6, 8],
                         'n_estimators': [100, 200]},
             scoring='neg_mean_squared_error', verbose=1)

In [281]:
grid_cv.best_params_

{'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 200}

In [ ]:
from sklearn.metrics import mean_squared_error

0.008890600720289485

In [292]:
y_train_GB_predict=grid_cv.best_estimator_.predict(X_train_scaled)

C:\Users\chddh\.conda\envs\ML\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

In [293]:
y_test_GB_predict=grid_cv.best_estimator_.predict(X_test)
y_test_GB_predict=y_test_GB_predict
print(y_test_GB_predict[:5])

[17.96641325 18.48589586 18.17995099 18.3132036  17.96815206]

C:\Users\chddh\.conda\envs\ML\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

In [294]:
np.sqrt(mean_squared_error(y_train_GB_predict,y_train))

3.8496975236509066

In [284]:
submission=pd.read_csv('submission.csv')

In [285]:
submission['value']=np.expm1(y_test_GB_predict)
submission.to_csv('submission_GB.csv',index=False)

In [286]:
submission.head()

   id         value
0   1  6.349129e+07
1   2  1.067389e+08
2   4  7.860540e+07
3   5  8.980970e+07
4   6  6.360178e+07

In [287]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [288]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
ridge=Ridge(alpha=1)
X_train=X_train.values
y_train=y_train.values
X_test=X_test.values
ridge.fit(X_train_scaled,y_train)
y_train_predict=ridge.predict(X_train)
mse=mean_squared_error(y_train,y_train_predict)
rmse=np.sqrt(mse)
print(rmse)

89.5398659340801

In [289]:
y_test_predict=ridge.predict(X_test)

In [290]:
submission['value']=np.expm1(y_test_predict)
submission.to_csv('submission_Ridge.csv',index=False)